<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.FacilityMapper">
  <select id="findByFacilityNameAndDateRange" resultType="com.example.dto.FacilityWithDataDto">
    SELECT * FROM m_facility f
    LEFT JOIN t_facility_data d ON f.id = d.facility_id
    WHERE f.facility_name = #{facilityName}
    AND d.create_date BETWEEN #{startDate} AND #{endDate}
  </select>
</mapper>